# Data files (ignore large or non-essential data)
Data/

Data/8 Pixel Device

# Device-related PDFs
Devices/

# Images used in the software
Images/

# Main Panel Evolution screenshots
Main Panel Evolution/

# Generated plots (can be deleted after report generation)
Plots/

# Personal pictures
Pics/

# Project code (ignore compiled Python files)
Project Code/__pycache__/

# Generated reports (can be deleted)
Reports/

# Python environment-related files
thesis/

# Required environment file
!requirements.txt

# Research papers (moving out of the directory)
RP/

# Files you're planning to remove later
Thesis, main concepts.docx
Work Diary.docx

# Ignore all log files
*.log

# Ignore .pyc files
*.pyc