# Project code (ignore compiled Python files)
Project Code/__pycache___/

# Python environment-related files
thesis/

# Required environment file
!requirements.txt

# Ignore all log files
*.log

# Ignore .pyc and pyo files
*.pyc
*.pyo
